body {
    background-color: thistle;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    color: blanchedalmond;
    text-align: center;
}

.projects {
     display:flex; 
     flex-wrap:wrap; 
    }
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgb(0, 0, 0); /* pick a color */
border-radius: 25%;
}