body {
    background-color: thistle;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    color: blanchedalmond;
    text-align: center;
}

.projects {
     display:flex; 
     flex-wrap:wrap; 
    }
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgb(255, 255, 255); /* pick a color */
border-radius: 25%;
}
.project img{
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 2px solid rgb(218, 153, 196); /* choose a color */
    display: block;
    margin: auto;
    }

    a { /* change the appearance of ALL links */
        text-decoration: none;
        color: purple;
        }
        .project p { /* change the appearance of paragraph tags inside .project divs */
        text-align: center;
        margin: 15px;
        }